/* animations.css */
.sidebar {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar input[type="text"] {
  padding-left: 2.5rem; /* Space for search icon */
}

.sidebar .p-4 {
  padding: 1rem;
}

.sidebar .p-1 {
  padding: 0.25rem;
}

.sidebar img {
  border-radius: 50%;
}

.sidebar h2 {
  color: #fff;
  margin-bottom: 0.5rem;
}

.sidebar button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.sidebar .rotate-180 {
  transform: rotate(180deg);
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  border-right: .15em solid white;
  animation: typing 2s steps(40, end), blink-caret .75s step-end infinite;
}